* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	border: 0;
	background-color: #ffffff;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#canvasBackground {
	background-color: #eeeeee;
}

#canvas {
	background-color: transparent;
}

#container {
	display: flex;
}

#middle {
	position: relative;
}

#end {
	text-align: right;
}

.player-board {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	border: 2px solid #888888;
	margin: 5px;
	color: #888888;
}

.player-board-name,
.player-board-score,
.player-board-status {
	margin: 0.5vh;
	margin: 0.5svh;
	font-size: 4vh;
	font-size: 4svh;
	overflow: hidden;
}
